header {
  background-color: #d7b5ae;
  padding: 0px;
}

section {
  display: flex;
}

article {
  flex: 7;
  background-color: #f1f1f1;
  padding: 10px;
}

nav {
  flex: 1;
  background: #ccc;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: #4CAF50;
    border: 1px solid #4CAF60;
}

li:hover {
  background-color: blue;
}

footer {
  background-color: #d7b5ae;
  padding: 10px;
  text-align: center;
  color: black;
}

